.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.problem-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.problem-body {
  font-size: 16px;
  line-height: 1.5;
}

.code-mirror-container {
  height: 400px; /* Adjust the height as needed */
  overflow: auto;
  background-color:#282a36;
}

.code-mirror {
  height: 100%;
}

/* App.css */
body {
  background-color: #1e1e1e;
  color: #ffffff;
  margin: 0; /* Remove default margin to fully utilize the space */
}

.navbar {
  background-color: #333333;
  padding: 10px;
}

.nav-ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-right: 20px; /* Adjust the margin for spacing between items */
}

.nav-button {
  background-color: #555555;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  text-decoration: none; /* Remove default link styling */
}

.nav-button:hover {
  background-color: #777777;
}

/* Add the following style to ensure each <li> is on a new line */
.problems-ul {
  list-style-type: none;
  padding: 0;
}

.problems-li {
  margin-bottom: 1em; /* Adjust the margin as needed */
}

.problem-app {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  min-height: 100vh; /* Use min-height instead of height */
}


.problem-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.search-bar {
  background-color: #222222;
  color: white;
}

.problems-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.problems-table th, .problems-table td {
  border-top: 1px solid #44475a;
  border-bottom: 1px solid #44475a;
  padding: 8px;
  text-align: left;
}


.problems-table th {
  background-color: #44475a;
}

.problems-table tbody tr:hover {
  /* background-color: #6272a4; */
  color: #4a62ff;
}

.problems-table td.text-column {
  background-color: #44475a;
  color: #f8f8f2;
}


/* images section starts */
.images {
  margin-top: var(--medium-margin);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: var(--default-spacing);
  justify-content: center;
  align-items: center;
}

.images .image {
  width: 300px;
  height: 250px;
  justify-self: center;
  align-self: center;
  border-radius: 10px;
  transition: transform 0.5s;
}

.blogs {
  width: 300px;
  height: 500px;
  justify-self: left;
  align-self: left;
  text-align: left;
  margin-left: 2rem;
  border-radius: 10px;
  transition: transform 0.5s;
  background-color:#2f3035;
  font-family: "Helvetica";

  display: inline-block;
  border: 1px solid #eee;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(238, 238, 238);
  border-bottom: 4px solid #eee;
  border-radius: 5px;
  overflow: hidden;
}

.blogs .title{
  font-size: 24px;
  font-weight: bold; /* or font-weight: 700; */
}

.read-more {
  align-self: center;
  text-align: center;
  padding: 1rem;
  background: linear-gradient(to right, #282a36, #bd93f9);
  border-radius: 10px;
  width: 50%;
  margin: auto;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  display: inline-block;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: background 0.3s; /* Add transition for background color */
}

.read-more:hover {
  background: linear-gradient(to right, #282a36, #d9c2fa); /* Adjust the brighter color on the right */
}

.read-more a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.read-more a:hover {
  color: #d9c2fa;
}

.image-article {
  /* width: 70%; */
  /* height: 250px; */
  text-align: center;
  justify-self: center;
  /* border-radius: 10px; */
  transition: transform 0.5s;
  display: block; /* Remove default inline spacing */

  /* max-width: 600px; Adjust the maximum width of the image container */
  margin: 0 auto; /* Center the image container */
  overflow: hidden; /* Hide overflowing content */
  border-radius: 8px; /* Add some border radius for a rounded look */
}

.article-title {
  justify-self: center;
  align-self: center;
  text-align: left;
  width: 50%;
  font-size: 34px;
  font-style: bold;
  font-family: Arial, Helvetica, sans-serif;
  /* margin: 0 auto; Center the image containe */
}

.article-body {
  justify-self: center;
  align-self: center;
  text-align: left;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5%;
}

.article-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  min-height: 100vh; /* Use min-height instead of height */
}